// app global css in SCSS form
$form-floating-padding-y:30px;
$form-floating-height: 100px;
$form-floating-padding-x:30px;
$form-floating-label-opacity:0.9;

@import url("../assets/libs/swiper/swiper-bundle.min.css");
@import url("../assets/css/app.min.css");
@import url("../assets/css/bootstrap.min.css");
@import url("../assets/css/custom.min.css");
